body,
html {
  height: 100%;
}

body a,
html a {
  text-decoration: none;
}

body {
  margin: 0;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#133aeb), color-stop(#1b53ef), color-stop(#3169f1), color-stop(#497df0), color-stop(#6390ed), color-stop(#5c9ded), color-stop(#5fa9eb), color-stop(#6bb4e7), color-stop(#5ebbe2), color-stop(#5cc1d9), color-stop(#64c5ce), to(#73c9c3));
  background-image: linear-gradient(to right top, #133aeb, #1b53ef, #3169f1, #497df0, #6390ed, #5c9ded, #5fa9eb, #6bb4e7, #5ebbe2, #5cc1d9, #64c5ce, #73c9c3);
}

header {
  padding: 2em;
}

header .menu {
  float: right;
  width: 20px;
  cursor: pointer;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  margin: 2em auto;
  padding-top: 7%;
}

main .card {
  padding: 2em auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
}

main .card img {
  width: 300px;
  height: 200px;
  border: solid 1px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em auto;
  display: inline-block;
  opacity: 0.8;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

main .card img:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

main .card .info {
  display: inline-block;
  text-align: center;
}

/*--------Navbar Overlay------*/
nav {
  position: absolute;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#133aeb), color-stop(#1b53ef), color-stop(#3169f1), color-stop(#497df0), color-stop(#6390ed), color-stop(#5c9ded), color-stop(#5fa9eb), color-stop(#6bb4e7), color-stop(#5ebbe2), color-stop(#5cc1d9), color-stop(#64c5ce), to(#73c9c3));
  background-image: linear-gradient(to right top, #133aeb, #1b53ef, #3169f1, #497df0, #6390ed, #5c9ded, #5fa9eb, #6bb4e7, #5ebbe2, #5cc1d9, #64c5ce, #73c9c3);
  padding: 2em;
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  display: none;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

nav .close {
  width: 20px;
  float: right;
  cursor: pointer;
  opacity: 0;
}

nav ul {
  list-style-type: none;
  margin: 10% auto 0 auto;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  width: 80%;
}

nav li {
  opacity: 0;
}

nav a {
  color: white;
  font-weight: bold;
  font-size: 1.75em;
}

nav span {
  color: #71757a;
  display: block;
  font-size: 1em;
  margin-top: 20px;
}

.show-menu {
  display: block;
  -webkit-animation: menu-slide 1s ease-in forwards;
          animation: menu-slide 1s ease-in forwards;
}

.show-menu .close {
  -webkit-animation: show-close 1s 1s forwards;
          animation: show-close 1s 1s forwards;
}

.show-menu li:nth-of-type(1) {
  -webkit-animation: menu-item-slide 0.6s forwards 1s ease-in-out;
          animation: menu-item-slide 0.6s forwards 1s ease-in-out;
}

.show-menu li:nth-of-type(2) {
  -webkit-animation: menu-item-slide 0.6s forwards 1.2s ease-in-out;
          animation: menu-item-slide 0.6s forwards 1.2s ease-in-out;
}

.show-menu li:nth-of-type(3) {
  -webkit-animation: menu-item-slide 0.6s forwards 1.4s ease-in-out;
          animation: menu-item-slide 0.6s forwards 1.4s ease-in-out;
}

.show-menu li:nth-of-type(4) {
  -webkit-animation: menu-item-slide 0.6s forwards 1.6s ease-in-out;
          animation: menu-item-slide 0.6s forwards 1.6s ease-in-out;
}

@-webkit-keyframes menu-slide {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes menu-slide {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes show-close {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-close {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes menu-item-slide {
  from {
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes menu-item-slide {
  from {
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=contact.css.map */