body,
html {
  font-family: "Montserrat";
  margin: 0;
}

body a,
html a {
  text-decoration: none;
}

body {
  background-image: url(../assets/images/BG1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

header {
  padding: 2em;
}

header .menu {
  float: right;
  width: 30px;
  cursor: pointer;
}

section h1 {
  font-size: 4em;
  margin-left: 230px;
  width: 70%;
}

.bottom {
  margin: 0 auto;
  position: absolute;
  bottom: 0;
}

.bottom .outline {
  position: relative;
  z-index: -1;
  right: 80px;
}

.bottom .linkedin {
  position: relative;
  z-index: 0;
  left: 280px;
  bottom: 5px;
}

.bottom .github {
  position: relative;
  z-index: 0;
  left: 285px;
  bottom: 5px;
}

.bottom .resume {
  position: relative;
  z-index: 0;
  left: 295px;
  bottom: 5px;
}

/*-------Nav-Overlay-------*/
nav {
  position: absolute;
  z-index: 1;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#133aeb), color-stop(#1b53ef), color-stop(#3169f1), color-stop(#497df0), color-stop(#6390ed), color-stop(#5c9ded), color-stop(#5fa9eb), color-stop(#6bb4e7), color-stop(#5ebbe2), color-stop(#5cc1d9), color-stop(#64c5ce), to(#73c9c3));
  background-image: linear-gradient(to right top, #133aeb, #1b53ef, #3169f1, #497df0, #6390ed, #5c9ded, #5fa9eb, #6bb4e7, #5ebbe2, #5cc1d9, #64c5ce, #73c9c3);
  padding: 2em;
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  display: none;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

nav .close {
  width: 20px;
  float: right;
  cursor: pointer;
  opacity: 0;
}

nav ul {
  list-style-type: none;
  margin: 10% auto 0 auto;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  width: 80%;
}

nav li {
  opacity: 0;
}

nav a {
  color: white;
  font-weight: bold;
  font-size: 1.75em;
}

nav span {
  color: #71757a;
  display: block;
  font-size: 1em;
  margin-top: 20px;
}

.show-menu {
  display: block;
  -webkit-animation: menu-slide 1s ease-in forwards;
          animation: menu-slide 1s ease-in forwards;
}

.show-menu .close {
  -webkit-animation: show-close 1s 1s forwards;
          animation: show-close 1s 1s forwards;
}

.show-menu li:nth-of-type(1) {
  -webkit-animation: menu-item-slide 0.6s forwards 1s ease-in-out;
          animation: menu-item-slide 0.6s forwards 1s ease-in-out;
}

.show-menu li:nth-of-type(2) {
  -webkit-animation: menu-item-slide 0.6s forwards 1.2s ease-in-out;
          animation: menu-item-slide 0.6s forwards 1.2s ease-in-out;
}

.show-menu li:nth-of-type(3) {
  -webkit-animation: menu-item-slide 0.6s forwards 1.4s ease-in-out;
          animation: menu-item-slide 0.6s forwards 1.4s ease-in-out;
}

.show-menu li:nth-of-type(4) {
  -webkit-animation: menu-item-slide 0.6s forwards 1.6s ease-in-out;
          animation: menu-item-slide 0.6s forwards 1.6s ease-in-out;
}

@-webkit-keyframes menu-slide {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes menu-slide {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes show-close {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-close {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes menu-item-slide {
  from {
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes menu-item-slide {
  from {
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.hide-footer {
  display: none;
}

/*------Responsive style-------*/
@media screen and (max-width: 375px) {
  header .menu {
    float: right;
    width: 30px;
    cursor: pointer;
  }
  section {
    margin-top: 50px;
  }
  section h1 {
    font-size: 3.5em;
    margin-left: 30px;
    width: calc(100% - 30px);
  }
  .bottom {
    overflow: hidden;
    width: 100vw;
  }
  .bottom .linkedin {
    left: 10px;
  }
  .bottom .github {
    left: 15px;
  }
  .bottom .resume {
    left: 20px;
  }
}
/*# sourceMappingURL=main.css.map */