body,
html {
  font-family: "Montserrat";
  height: 100%;

  a {
    text-decoration: none;
  }
}

body {
  margin: 0;
  background-image: linear-gradient(
    to right top,
    #133aeb,
    #1b53ef,
    #3169f1,
    #497df0,
    #6390ed,
    #5c9ded,
    #5fa9eb,
    #6bb4e7,
    #5ebbe2,
    #5cc1d9,
    #64c5ce,
    #73c9c3
  );
}

header {
  display: inline;
  padding: 2em;

  a {
    float: right;
    color: white;
    font-weight: bold;
    font-size: 1.75em;
    margin-top: 10px;
    margin-right: 40px;
  }

}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  margin: 2em auto;
  padding-top: 7%;

  .card {
    position: relative;
    padding: 2em auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;

    strong {
      font-weight: bolder;
    }

    img {
      position: relative;
      width: 300px;
      height: 200px;
      border: solid 1px;
      justify-content: center;
      margin: 1em auto;
      display: inline-block;
      opacity: 0.8;
      transition: 1s ease;
    }

    img:hover {
      opacity: 1;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      transition: 1s ease;
    }

    .githubLink {
      width: 40px;
      height: 40px;
      border: none;
    }

    .info {
      display: inline-block;
      text-align: center;

      p {
        margin-right: 2em;
        margin-left: 2em;
      }
    }
  }
}




